<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body data-ng-app="myApp" data-ng-controller="myController">
        
        <table border="1">
            <tr>
                <th>Shape</th>
                <th>Sides</th>
            </tr>
            <tr data-ng-repeat="entry in records" align="center">
                <td>{{entry.Shape}}</td>
                <td>{{entry.Sides}}</td>  
            </tr>
        </table>
        
        <button data-ng-click="addEntry()">Click To Add Entry</button>
        
        <script>
            var app = angular.module("myApp", []);
            
            app.controller("myController", function($scope) {
                $scope.records = [
                    {
                        "Shape":"Triangle",
                        "Sides":"3"
                    },
                    {
                        "Shape":"Square",
                        "Sides":"4"
                    },
                    {
                        "Shape":"Pentagon",
                        "Sides":"5"
                    },
                    {
                        "Shape":"Circle",
                        "Sides":"1? 0? Infinite?"
                    }
                ];
                $scope.addEntry = function () {
                    $scope.records.push({"Shape":"...", "Sides":"..."});
                };
            });
        </script>
        
    </body>
</html>